body{
    background-color: #000000;
}
.first-div{
    background-color: #ff0080;
    color: white;
    height: 65px;
    text-align: center;
    margin-bottom: 32px;
    box-sizing: border-box;
    text-decoration: underline;
}
.display{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 22px;
}

/* calculator section */
.Calculator{
    background-image: linear-gradient(to right, rgb(0, 174, 255),rgb(255, 0, 81));
    width: 289px;
    /* margin: auto; */
    border-radius: 12px;
    text-align: center;
    box-shadow:1px 1px 15px #ff00b3;
    color: #000000;
}
.Calculator h2{
    text-align:center;
    text-decoration:underline;
}
.result input{
    width: 90%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 8px;
    text-align: right;
    font-size: 30px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-bottom:2px solid rgb(0, 0, 0);
}
.input-val input{
    width: 53px;
    height: 53px;
    padding: 16px;
    margin: 4px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: large;
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.input-val input:hover{
    background:#ff0033;
    cursor:pointer;
    color: white;
    border-radius: 12px;
}
.symbol{
    color: rgb(13, 0, 255);
}

 /* simple intrest section */
.container1{
    width:240px;
    background-image: linear-gradient(to right, rgb(0, 174, 255),rgb(255, 0, 81));
    border-radius:10px;
    box-shadow:1px 1px 15px #ff0c8e;
    border: 3px colid ;
    color:#000000;
    /* margin:auto; */
    padding:20px;
}
.container1 h2{
    text-align:center;
    text-decoration:underline;
}
.container1 p input{
    border:none;
    outline:none;
    font-size:20px;
    width:180px;
    background:transparent;
    border-bottom:2px solid rgb(0, 0, 0);
}
.container1 p button{
    width:180px;
    height:30px;
    font-size:18px;
    background-color: transparent;
    outline: none;
    border: none;
    color:rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 1px 1px 15px black;
}
.container1 p button:hover{
    background:#ff0095b3;
    cursor:pointer;
}
/* compound interst section */
.container{
    width:240px;
    background-image: linear-gradient(to right, rgb(0, 174, 255),rgb(255, 0, 81));
    border-radius:10px;
    box-shadow:1px 1px 15px #ff059b;
    color:#000000;
    /* margin:auto; */
    padding:20px;
}
.container1 h2{
    text-align:center;
    text-decoration:underline;
}
.container p input{
    border:none;
    outline:none;
    font-size:20px;
    width:180px;
    background:transparent;
    border-bottom:2px solid rgb(0, 0, 0);
}
.container p button{
    width:180px;
    height:30px;
    font-size:18px;
    background-color: transparent;
    outline: none;
    border: none;
    color:rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 1px 1px 15px black;
}
.container p button:hover{
    background:#ff0095b3;
    cursor:pointer;
}

 /* temperature convertor */
.container2{
    width:240px;
    background-image: linear-gradient(to right, rgb(0, 174, 255),rgb(255, 0, 81));
    border-radius:10px;
    box-shadow:1px 1px 15px #ff00c3;
    color:#000000;
    /* margin:auto; */
    padding:20px;
}
.container2 h2{
    text-align:center;
    text-decoration:underline;
}
.sub-form1{
    display: flex;
}
.sub-form1 div{
    flex-basis: 50%;
}
.sub-form1 div input{
    width: 100%;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-size:20px;
    background:transparent;
    border-bottom:2px solid rgb(0, 0, 0);
}
/*matrix multiplication*/
.array-input input{
    width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    border-radius: 16px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}
.array-input{
    background-image: linear-gradient(to right, rgb(0, 174, 255),rgb(255, 0, 81));
    border: 1px solid black;
    border-radius: 7px;
    width: 80%;
    margin: auto;
   display: flex;
   flex-wrap: wrap;
   box-shadow: 1px 1px 15px rgb(255, 15, 111);
}
.left{
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    width:fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
}
.right{
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
}
.font-text{
    text-decoration: underline;
    font-size: 23px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.text-btn{
    margin: auto;
}
.text-btn button{
    font-size: 19px;
    font-weight: 600;
    padding: 10px 6px;
    margin: 2px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    border-radius: 9px;
    color: white;
}

@media(max-width:770px){
    .array-input{
        width: 80%;
    }
    .left{
        padding-left: 34px;/*on mobile */
    }
    .right{
        padding-left: 34px;/*on mobile */
    }
}
